Babel==2.5.3
boto3==1.6.18
botocore==1.9.18
Django==1.11.11
django-autoslug==1.9.3
django-ckeditor==5.4.0
django-js-asset==1.0.0
django-phonenumber-field==2.0.0
django-storages==1.6.6
docutils==0.14
futures==3.2.0
geopy==1.12.0
jmespath==0.9.3
phonenumberslite==8.9.2
Pillow==5.0.0
python-dateutil==2.6.1
python-decouple==3.1
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
