{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs First | About Us{% endblock %}
{% block content %}

<div class="header-img" style="background:url(/uploads/{{banner.image}})no-repeat center center; background-size: cover;">
	<h1 class="text-white">{{banner.text}}</h1>
</div>

<div class="container-fluid text-center">
	<h1 class="title-1">{{history_block_title}}</h1>
	<hr>
	<p>{{history_block_text}}</p>
</div>

<div class="container-fluid text-center">
	<h1 class="title-1">Board of Directors</h1>
	<hr>
	<div class="row text-jfblue">
		{% for director in directors %}
			{% if director.active == True %}
				<div class="col-md-3 mx-auto">
					<img src="/uploads/{{director.image}}" class="w-50 rounded-circle user-img">
					<p><b>{{director.name}}</b></p>
					<p>{{director.postition}}</p>
					<p>{{director.company}}</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="container-fluid text-center">
	<h1 class="title-1">Board of Leadership and Staff</h1>
	<hr>
	<div class="row text-jfblue" id="staff">
		{% for staff in staff_members %}
			{% if staff.active == True %}
				<div class="col-md-3 mx-auto">
					<img src="http://via.placeholder.com/100" class="w-50 rounded-circle user-img" data-toggle="collapse" data-target="#{{staff.name}}">
					<p><b>{{staff.name}}</b></p>
					<p>{{staff.postition}}</p>
					<p>{{staff.email}}</p>
					<p>{{staff.phone}}</p>
					<div class="collapse" id="{{staff.name}}" data-parent="#staff">
						<p class="text-justify text-dark">
						{{staff.text}}</p>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<div class="container-fluid">
	<h1 class="title-1 text-center">{{supporter_block_title}}</h1>
	<hr>
	<div class="row">
		<div class="col-md-8 mx-auto text-center">
			<p>{{supporter_block_text}}</p>
		</div>
	</div>
	<div class="row">
		{% for supporter in supporters %}
			{% if supporter.active == True %}
		<div class="col-md-4 mx-auto">
			<i class="fa fa-circle"></i>&nbsp;{{supporter.name}}<p>
		</div>
			{% endif %}
		{% endfor %}
	</div>
</div>


  {% endblock %}
