{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs First | {{post.title}}{% endblock %}
{% block content %}



		<div class="header-img" style="background:url(/uploads/{{banner.image}})no-repeat center center;background-size: cover;">
			<h1 class="text-white text-center">{{post.title}}</h1>
		</div>

		<div class="container">
			<br>
			<a href="/media"><i class="fas fa-arrow-alt-circle-left fa-6x"></i></a>
			<p class="float-right">{{post.publish_date}}</p>
			<br>
			<br>
			{{post.text | safe}}
			<i>{{post.author_first_name}} {{post.author_last_name}}</i>
			<br>
			<br>
		</div>

		{% endblock %}
