{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs First | {{article.title}}{% endblock %}
{% block content %}



		<div class="header-img" style="background:url(/uploads/{{banner.image}})no-repeat center center;background-size: cover;">
			<h1 class="text-center">{{article.title}}</h1>
		</div>

		<div class="container">
			<br>

			{% if switch %}
				<a href="/publication">
			{% else %}
				<a href="/media">
			{% endif %}
				<i class="fas fa-arrow-alt-circle-left fa-3x"></i></a>

			{% if switch %}
				<a href="https://jobsfirst-assets.s3.amazonaws.com/media/{{article.pdf}}"><i class="fas fa-download fa-3x"></i></a>
			{% endif %}
			<p class="float-right">{{article.publish_date}}</p>
			<br>
			<br>
			<p>{{article.text|safe}}</p>

			<i>{{article.author_first_name}} {{article.author_last_name}}</i>
			<br>
			<br>
		</div>

		{% endblock %}
