{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block title %}Jobs First | Media{% endblock %}
{% block content %}

<div class="header-img" style="background:url({{banner.image|media_url}})no-repeat center center;background-size: cover;">
	<h1 class="text-white text-center container">{{banner.text}}</h1>
</div>
<br>
<br>



<div class="row">
	<div class="col-md-6">
		<h5 class="title-1 text-center">News</h5>
		<hr>
		<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" >
			<li class="nav-item">
				<a class="nav-link active" id="press-tab" data-toggle="tab" href="#press" role="tab" aria-controls="press" aria-selected="true">PRESS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="blog-tab" data-toggle="tab" href="#blog" role="tab" aria-controls="blog" aria-selected="false">BLOG</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="press" role="tabpanel" aria-labelledby="press-tab">
				{% for press in in_press %}
					{% if press.image %}
					<a href="#" style="padding: 10px;">
						<div class="col-md-7 offset-md-3">
							<div class="row ">
								<div class="col-md-4">
									<img src="{{press.image|media_url}}" class="img-thumbnail">
								</div>
								<div class="col-md-8 px-3">
									<div class="card-block px-3">
										<h5 class="title-1">{{press.publish_date}}</h5>
										<h6 class="card-text">{{press.title}}</h6>
										<i>{{press.author_first_name}} {{press.author_last_name}}</i>
									</div>
								</div>
							</div>
						</div>
					</a>
					{% else %}
					<a href="#" style="padding: 10px;">
						<div class="col-md-7 offset-md-3">
							<div class="row ">
								<div class="col-md-4">
									<img src="{{default.image|media_url}}" class="img-thumbnail">
								</div>
								<div class="col-md-8 px-3">
									<div class="card-block px-3">
										<h5 class="title-1">{{press.publish_date}}</h5>
										<h6 class="card-text">{{press.title}}</h6>
										<i>{{press.author_first_name}} {{press.author_last_name}}</i>
									</div>
								</div>
							</div>
						</div>
					</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="tab-pane fade" id="blog" role="tabpanel" aria-labelledby="blog-tab">
				{% for post in blog_posts %}
					{% if post.image %}
				<a href="/media/{{post.slug}}" style="padding: 10px;"
					<div class="col-md-7 offset-md-3">
						<div class="row ">
							<div class="col-md-4">
								<img src="{{post.image|media_url}}" class="img-thumbnail">
							</div>
							<div class="col-md-8 px-3">
								<div class="card-block px-3">
									<h5 class="title-1">{{post.publish_date}}</h5>
									<h6 class="card-text">{{post.title}}</h6>
									<i>{{post.author_first_name}} {{post.author_last_name}}</i>
								</div>
							</div>
						</div>
					</div>
				</a>
					{% else %}
				<a href="/media/{{post.slug}}" style="padding: 10px;">
					<div class="col-md-7 offset-md-3">
						<div class="row ">
							<div class="col-md-4">
								<img src="{{post.image|media_url}}" class="img-thumbnail">
							</div>
							<div class="col-md-8 px-3">
								<div class="card-block px-3">
									<h5 class="title-1">{{post.publish_date}}</h5>
									<h6 class="card-text">{{post.title}}</h6>
									<i>{{post.author_first_name}} {{post.author_last_name}}</i>
								</div>
							</div>
						</div>
					
				</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>

	<div class="col-md-6">
		<h5 class="title-1 text-center">Featured</h5>
		<hr>
		<!-- FOR EACH FEATURE -->
		{% for feature in featured %}
			{% if image %}
				<a href="{{feature.external_link}}" style="padding: 10px;">
					<div class="col-md-7 offset-md-3">
						<div class="row ">
							<div class="col-md-4">
								<img src="{{feature.image|media_url}}" class="img-thumbnail w-100">
							</div>
							<div class="col-md-8 px-3">
								<div class="card-block px-3">
									<h4 class="title-1">{{feature.publish_date}}</h4>
									<h5 class="card-text">{{feature.title}}</h5>
									<i>{{feature.author_first_name}} {{feature.author_last_name}}</i>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% else %}
				<a href="{{feature.external_link}}" style="padding: 10px;">
					<div class="col-md-7 offset-md-3">
						<div class="row ">
							<div class="col-md-4">
								<img src="{{default.image|media_url}}" class="img-thumbnail w-100">
							</div>
							<div class="col-md-8 px-3">
								<div class="card-block px-3">
									<h4 class="title-1">{{feature.publish_date}}</h4>
									<h5 class="card-text">{{feature.title}}</h5>
									<i>{{feature.author_first_name}} {{feature.author_last_name}}</i>
								</div>
							</div>
						</div>
					</div>
				</a>
			{% endif %}
		{% endfor %}
		<!-- EndFOR -->
		
	</div>

</div>

{% endblock %}
