{% extends 'base.html' %}
{% load static %}
{% block title %}Jobs First | Publications{% endblock %}
{% block content %}


		<div class="header-img publications-header" style="background:url(/uploads/{{banner.image}})no-repeat center center;background-size: cover;"> 
			<h1 class="text-white text-center">Publications</h1>
		</div>

		<div class="row vertical-form">
			<div class="col-md-12">
				<form action="/publication/" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col text-center">
							<h4 class="text-white">Filter by</h4>
						</div>
						<div class="col">
							<input type="text" class="form-control" name="keyword"placeholder="Keyword">
						</div>
						<div class="col">
							<div class="form-group">
								<select class="form-control">
									<option>All</option>
									<option>Featured</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="float-right">
								<button type="submit" class="btn green-btn"><b>Filter</b></button>
								<button type="reset" class="btn btn-light"><b>Clear</b></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<div class="container-fluid">
						{% if results == -1 %}

							<div class="row">
								<div class="col-xs-12">
									<h6>No Results</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
						{% elif results %}
						{% for article in results %}
						<div class="row">
							<div class="col-xs-12">
								<a href="/publication/{{article.slug}}">
									<h4><i class="fas fa-minus fa-2x dash"></i> {{article.title}}</h4>
									<p>{{article.text|truncatechars:150}}</p>
									<h6>{{article.author_first_name}} {{article.author_last_name}}</h6>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
						
						{% else %}
						{% for article in articles %}
						<div class="row">
							<div class="col-xs-12">
								<a href="/publication/{{article.slug}}">
									<h4><i class="fas fa-minus fa-2x dash"></i> {{article.title}}</h4>
									<p class="text-dark">{{article.text|truncatechars:150}}</p>
									<h6>{{article.author_first_name}} {{article.author_last_name}}</h6>
								</a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4">
					<h4 class="title-1 text-center">Featured</h4>
					<br>
					{% for feature in featured %}
					<a href="/publication/{{post.slug}}">
						<img class="card-img-top" src="http://via.placeholder.com/286x180">
						<div class="card-body">
							<h6 class="card-title">{{feature.title}}</h6>
						</div>
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
						{% endif %}
					



	{% endblock %}
